<div class="list-group-item" style="background-color: #2e86de">
  <h1 class="text-white">Liste des Produits</h1>
  <h3 class="text-white">Produits disponibles :</h3>
  <MultiSelect  @elements={{model.dispoItems}} @selectedIds={{model.dispoItemsIds_}}/>
  <button class="btn btn-info">{{fa-icon "angle-down"}}</button>
  <button class="btn btn-info">{{fa-icon "angle-double-down"}}</button>
  <button class="btn btn-info">{{fa-icon "angle-up"}}</button>
  <button class="btn btn-info">{{fa-icon "angle-double-up"}}</button>
  <h3 class="text-white">Produits sélectionnés : </h3>
  <MultiSelect @elements={{model.includedItems}} @selectedIds={{model.includedItemsIds_}}/>
</div>
{{outlet}}