<a href="" class="btn btn-primary">Home</a>
<a href="http://localhost:4200/projects" class="btn btn-primary">Projects</a>
<a href="" class="btn btn-primary disabled">Developers</a>
<br>
{{fa-icon "table"}} <h2>models\Developer</h2>
<a href="http://localhost:4200/developers/new" class="btn btn-danger">Add a new models\Developer</a>
<br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Identity</th>
      <th scope="col" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |item|}}
        <tr>
            <td>{{item.identity}}</td>
            <td>
              <LinkTo @route="developers.edit" @model={{item}} class="btn btn-info">{{fa-icon "edit"}}</LinkTo>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <LinkTo @route="developers.delete" @model={{item}} class="btn btn-danger">{{fa-icon "times"}}</LinkTo>
            </td>
        </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}